$giedreMobile: url("../assets/images/giedre/giedre-mobile.jpg");
$giedreDesktop: url("../assets/images/giedre/giedre.jpg");
$imariMobile: url("../assets/images/imari/imari-mobile.jpg");
$imariDesktop: url("../assets/images/imari/imari.jpg");